
tabela{ text-align:center; width:auto;}

ContentPlaceHolder1{text-align:center;}


p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#CCCCCC;
	font-size:9px;
}

body {
	background-color: #F0F0F0;
}

#td_top_centro{background-color:#ca5100;}
#td_top_centro1{font-family:Verdana; color:#ca5100; font-size:10px; text-align:right;}