




p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#CCCCCC;
	font-size:9px;
}

body {
	background-color: #F0F0F0;
	
}

#td_top_centro{background-color:#356BB3; }

#clock { 
				font-size:11px; font-family:Verdana,Tahoma,Arial,sans-serif; color:#FFFFFF;
			}
			
#td_top_centro1{font-family:Verdana; color:#356BB3; font-size:10px; text-align:right;}

.td_sub_titulo{font-family:Verdana; font-size:10px; font-weight:bold;}

#tabela{ text-align:center;  background-color:#FFFFFF; }